.centreText {
  text-align: center;
}

.centrePanel {
  position: relative;
  top: 50px;
}

.textField {
  position: relative;
  margin-left:auto;
  margin-right:auto;
  width:350px;
}

.titleBar {
  background-color:green
}

h1 {
  font-size: 150px;
}

.image {
max-width: 100%;
height: 50vh;
padding-top: 3px;
padding-bottom: 9px;
}
